html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.cell-green {
    background-color: #90EE90;
    text-align: center;
    width: 50%; 
}


.cell-blue {
    background-color: #87CEEB;
    text-align: center;
    width: 50%; 
}
